<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Webhamster</title>
	<link rel="stylesheet" href="/css/login.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
	<div class="login-dark">
		<form th:action="@{/user/login}" method="POST" class="form-signin">
			<p class="h2">Login</p>
			<div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
			<div class="form-group">
				<input type="text" id="username" name="username" placeholder="Username" class="form-control" autocomplete="off" /> <br />
			</div>
			<div class="form-group">
				<input type="password" th:placeholder="Password" id="password" name="password" class="form-control" autocomplete="off"/>
			</div>
			<div align="center" th:if="${param.error}">
				<p style="font-size: 20; color: #FF1C19;">User Name or Password invalid</p>
			</div>
			<button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit"
				th:text="Login"></button>
			<br>
			<a href="/user/registration" type="submit">Create a new account</a>
		</form>
	</div>
</body>
</html>