<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
  <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap settings -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script     th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
  <title>404Error</title>
</head>
<body>
  <h1 th:text="${status} + ' ' + ${error}"></h1>
  <p>HTTP 404 error</p>
  <form method="get" th:action="@{/home}">
		<button class="btn btn-danger btn-lg" type="submit" name="insert"> Back to site </button>
  </form>
</body>
</html>

