<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap settings -->
    <link  rel="stylesheet"     th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
    <script     th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
  <title>Error</title>
</head>
<body>
  <!—Fehlerinfo aus Model (keys=status bzw. message anzeigen -->
  <h1 th:text="${status} + ' ' + ${error}"></h1>
  <p th:text="${message}"></p>
	<form>
	 <input type="button" value="Go back!" onclick="history.back()">
	</form>
</body>
