<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	</meta>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>
	<form method="post" th:action="@{/home/hamster}" th:object="${hamsterForm}">
		<input type="text" id="name">
		<button class="btn btn-danger btn-lg" type="submit" name="insert"> Insert </button>
	</form>
	<p th:text="${json}" />
</body>