<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap settings -->
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
	<script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
	<!-- Read CSS -->
	<link th:href="@{/css/home.css}" rel="stylesheet">
	</link>
	<title>Home</title>
</head>

<body>
	<div class="container-fluid header clearfix p-3">
		<h1 class="float-start">Startseite </h1>
		<form class="float-end" method="post" th:action="@{/logout}">
			<button class="btn btn-success" type="submit">
				Logout
			</button>
		</form>
		<form class="float-end" th:action="@{/user/index}">
			<button class="btn btn-success" type="submit">Usersettings</button>
		</form>
		
	</div>
	<hr>
	

</html>