<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	</meta>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>
	<div class="row">
		<div class="col-sm-5">
			<div class="page-header">
				<h1>Userdetails</h1>
			</div>
			<form method="post" th:action="@{/home/userDetail}" th:object="${userForm}">
				<table class="table table-bordered table-hover">
					<tr>
						<th class="active col-sm-2">User ID</th>
						<td class="col-sm-3">
							<div class="form-group">
								<input type="text" th:field="*{user_id}" class="form-control" readonly="readonly" />
							</div>
						</td>
					</tr>
					<tr>
						<th class="active">Name</th>
						<td>
							<div class="form-group">
								<input type="text" class="form-control" th:field="*{username}" />

							</div>
						</td>
					</tr>
					<div th:if="${insert}">
						<tr>
							<th class="active">Email</th>
							<td>
								<div class="form-group">
									<input type="text" class="form-control" th:field="*{email}" />
	
								</div>
							</td>
						</tr>
						<tr>
							<th class="active">Name</th>
							<td>
								<div class="form-group">
									<input type="text" class="form-control" th:field="*{name}" />
	
								</div>
							</td>
						</tr>
						<tr>
							<th class="active">Lastname</th>
							<td>
								<div class="form-group">
									<input type="text" class="form-control" th:field="*{lastname}" />
	
								</div>
							</td>
						</tr>
					</div>
					<tr>
						<th class="active">Password</th>
						<td>
							<div class="form-group">
								<input type="password" class="form-control" th:field="*{password}"   />

							</div>
						</td>
					</tr>
					<tr>
						<th class="active">Repeat Password</th>
						<td>
							<div class="form-group" th:object="${passwordRepeat}">
								<input type="password" class="form-control" th:name="passwordRepeat" />
							</div>
						</td>
					</tr>
				</table>
				<!-- Update button -->
				<div th:if="${insert}">
					<button class="btn btn-danger btn-lg" type="submit" name="insert"> Insert </button>

				</div>
				<div th:unless="${insert}">
					<button class="btn btn-primary btn-lg pull-right" type="submit" name="update"> Update </button>
					<button class="btn btn-danger btn-lg" type="submit" name="delete"> Delete </button>
				</div>
				<div align="left" th:if="${result}">
					<p style="font-size: 20; color: #FF1C19;">Passwords are not identic!</p>
				</div>
			</form>
			<p th:text="${error}"/>
		</div>
	</div>
</body>

</html>